.services {
    display:Flex;
    flex-direction:column;
    height:45%;
    flex-basis:33%;
    justify-content:space-around;
}

.service {
    display:flex;
    justify-content:space-around;
    border:2px solid #dedcff;
    border-radius:7px;
    padding:0.7em;
    transition: all .2s ease-in-out;
    cursor:pointer;
}

.service:hover {
    transform: scale(1.1);

}

.description {
    order:4;
    display:flex;
    justify-content:space-between;
    width:80%;
    align-items:center;
}

.checkbox {
    order:0;
}

.bonus {
    color:#c1bffa;
    font-weight:500;
}