#subscription {
    display:flex;
    justify-content:space-around;
    height:30%;


}

.subcription_panel {
    min-height:100%;
    flex-basis:28%;
    border:2px solid hsl(231, 11%, 63%);
    border-radius:9px;
    padding:1em;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    transition: all .2s ease-in-out;
    cursor:pointer;
}

.subcription_panel img {
    height:30px;
    width:30px;
}

.subcription_panel:hover {
   border:2px solid #dedcff;
   transform: scale(1.1);
}

.prev_button_1 {
    color:var(--silver);
}

.prev_button_1:hover {
    cursor:pointer;
}

.double_button {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:4em;
    padding:1.3em;

}

.switch-container {
    border:2px solid black;
    width:100%;
}
//slider css
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    
    position: absolute;
    cursor: pointer;
    height:8%;
    width:100%;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


#next_2 { 
    margin-right:0.3em;
    width:20%;
    padding:0.6em 1em;
    border-radius:0.2em;
    background-color:#164b8a;
    border:none;
    color:white;
    cursor:pointer;
}

#prev_2 {
    
    color:var(--silver);
    font-weight:500;
    cursor:pointer;
}

#prev_2:hover{
    font-weight:600;
}

.panel_chosen {
    background-color:#f8f9fe;
    border:2px solid #dedcff;

}