#subscription {
    display:flex;
    justify-content:space-around;
    


}

.subcription_panel {

    min-height:100%;
    flex-basis:28%;
    border:2px solid hsl(231, 11%, 63%);
    border-radius:9px;
    padding:1em;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    transition: all .2s ease-in-out;
    cursor:pointer;
}


.subcription_panel img {
  margin-bottom:3.6em;
    height:30px;
    width:30px;
    
}

.subcription_panel:hover {
   border:2px solid #dedcff;
   transform: scale(1.1);
}

.prev_button_1 {
    color:var(--silver);
}

.prev_button_1:hover {
    cursor:pointer;
}

.double_button {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:4em;
    padding:1.3em;

}

.switch div {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;

}

span {
  font-weight: 700;
  font-size:0.9em;

}
.spanDarkBlue { 
  color:var(--darkblue);

}

.spanGrey {
  color:var(--silver);

}
.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color:var(--darkblue);;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
  margin-top:2.5em;
  border:2px solid #f8f9fe;
  background-color: #f8f9fe;
  display:Flex;
  justify-content:space-evenly;
  align-items:center;
  border-radius:10px;
 
}

.container {
  margin-top:4px;
}


#next_2 { 
    margin-right:0.3em;
    width:20%;
    padding:0.6em 1em;
    border-radius:0.2em;
    background-color:#164b8a;
    border:none;
    color:white;
    cursor:pointer;
}

#prev_2 {
    
    color:var(--silver);
    font-weight:500;
    cursor:pointer;
}

#prev_2:hover{
    font-weight:600;
}

.panel_chosen {
    background-color:#f8f9fe;
    border:2px solid #dedcff;

}


.yearly {
  display:none;
}

.free {
  font-size:0.8rem;
}



.outside-tester {
  display:Flex;
  flex-direction: column;
}


.outta-tester {
  display:inline;
}